div.d-flex {
    background-color: #f5f5dc;
}

h1 {
    color: #6d5846;
    font-family: "Galindo", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #806853;
    font-family: "Metal", serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

button.custom-btn {
    background-color: rgb(160, 172, 58);
    margin-top: 3%;
}

button.custom-btn:hover {
    background-color: rgb(203, 212, 114);
}

button.custom-btn:focus {
    outline: none; 
    box-shadow: 1px 2px 3px rgb(129, 138, 46); 
    transform: translateY(2px); 
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}






